button:disabled {
  cursor: not-allowed
}

.btn_main {
  min-width: 200px;

  background: #F2542D;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
  padding: 12px 16px 12px 16px;
  gap: 8px;
  border-radius: 33px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #FFFFFF;

}

.btn_main:hover {
  background: #CA3E1B;

}


.btn_secondary {
  min-width: 200px;
  text-align: center;
  background: #fff;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
  padding: 12px 16px 12px 16px;
  gap: 8px;
  border-radius: 33px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #562C2C;
  border: 1px solid #562C2C4D
}

.btn_secondary:hover {
  color: #562C2C;
  border: 1px solid #562C2C4D;
  background: #FFEDE8;

}


