@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './_variables.scss';
@import './button.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import './_colors.scss';
@import './_themes.scss';
@import './typography.scss';




body {
  margin: 0px;
  background-color: var(--bg-primary-color);
  color: var(--color-black);
  min-height: 100vh;
}

html,
body,
div,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--scrollbar-color-track);
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);

  border-radius: 6px;
}

.section-header {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #F2542D;

}