.header_h1 {
    font-family: "Nunito Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 125% */
    letter-spacing: -1px;
}

.header_h2 {
    /* Header/H2/30/Blod */
    font-family: "Nunito Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header_h3 {
    font-family: "Nunito Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header_h4 {
    font-family: "Nunito Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


.text-body1 {
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-body2 {
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    /* 128.571% */
}

.text-body3 {
    font-family: "Nunito Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-body4 {
    font-family: "Nunito Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.text-main-gradient {
    background: var(--Gradient-Main, -webkit-linear-gradien(80deg, #1A73E8 3%, #49A3F1 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:hover {
        background: var(--Gradient-Hover, -webkit-linear-gradien(0deg, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.42) 100%), linear-gradient(80deg, #1A73E8 3%, #49A3F1 100%));
    }
}